:root {
  --primary-color: #eddcd9;
  --secondary-color: #f2ebe9;
  --primary-button-color: #cddcf3;
}

body {
  background: var(--primary-color);
}
h1,
h2 {
  text-align: left;
}
h4 {
  font-size: 30px;
}
hr {
  opacity: 0.1;
}
img {
  max-width: 100%;
}
.title {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 35px;
}
.name {
  font-size: 80px;
  font-family: "Signika", sans-serif;
}
.logo {
  max-width: 200px;
}
#badge {
  width: 20px;
}

.woman-coding-image {
  border: 0.5px solid #000;
  border-radius: 941px;
}
.work-container {
  font-size: 20px;
  max-width: 500px;
  text-align: center;
}
.work-skills {
  font-size: 25px;
}
.main-navbar {
  background: var(--secondary-color);
}
.about-me {
  font-family: "Satisfy", cursive;
  font-size: 50px;
}
.section-1 {
  margin-top: 100px;
  max-width: 1000px;
}
.about-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-button-color);
  color: #000;
}
.about-container {
  max-width: 1500px;
}
.about-image {
  width: 75%;
  border-radius: 30px;
}

.contact-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-button-color);
  max-width: 20px;
}

.navigation-links {
  display: flex;
  justify-content: start;
  font-family: "Signika", sans-serif;
}
.navigation-links a {
  margin: 20px;
}
.skills {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Signika", sans-serif;
}
.skills-icon {
  display: block;
  text-align: center;
  font-size: 60px;
}
.skills-container {
  max-width: 500px;
}
.work-inquiry {
  margin-top: 5px;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  padding: 30px 120px;
  border-radius: 10px;
  margin: 0 200px;
  background: var(--secondary-color);
}
footer .contact-btn-home {
  padding: 15px 30px;
}
footer .contact-box p {
  margin: 0;
}
.footer-remarks {
  opacity: 0.75;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .social-links a {
  font-size: 20px;
  margin: 0 20px;
  color: #000;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100mse ease-in-out;
}
footer .social-links a:hover {
  animation: pop 0.3s linear 1;
  color: #000;
}
@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}
.contact-btn-home {
  background: var(--primary-button-color);
}
.contact-btn-home:hover {
  background: var(--primary-button-color);
}

@media (max-width: 800px) {
  .section-1 {
    margin-top: 85px;
  }
  .logo {
    max-width: 100px;
  }

  .woman-coding-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .name {
    font-size: 55px;
  }
  .title {
    font-size: 30px;
    text-align: center;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }
  .navigation-links {
    justify-content: center;
  }
  .section-3 {
    display: none;
  }
  .about-paragraphs {
    font-size: 15px;
    text-align: justify;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 20px;
  }
  .work-skills,
  .fa-check {
    font-size: 15px;
  }
}
