:root {
  --primary-color: #eddcd9;
  --secondary-color: #f2ebe9;
  --primary-button-color: #cddcf3;
}

body {
  background: var(--primary-color);
}
h1,
h2 {
  text-align: left;
}
h4 {
  font-size: 30px;
  font-family: "Rajdhani", sans-serif;

  text-align: center;
}
hr {
  opacity: 0.1;
}
img {
  max-width: 100%;
}

/*index page*/
.main-navbar {
  background: var(--secondary-color);
}
.section-1 {
  margin-top: 100px;
  max-width: 1000px;
}
.name {
  font-size: 80px;
  font-family: "Signika", sans-serif;
}
.logo {
  max-width: 200px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 35px;
}
.navigation-links {
  display: flex;
  justify-content: start;
  font-family: "Signika", sans-serif;
}
.navigation-links a {
  margin: 20px;
}
.skills {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Krub", sans-serif;
}
.skills-icon {
  display: block;
  text-align: center;
  font-size: 60px;
}
.skills-container {
  max-width: 500px;
  font-family: "Krub", sans-serif;
}

/*about page*/
.about-heading {
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
}
.about-me {
  font-family: "Satisfy", cursive;
  font-size: 50px;
  text-align: center;
}
.about-paragraphs {
  font-family: "Krub", sans-serif;
  font-weight: 500px;
}
.about-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-button-color);
  color: #000;
}
.about-container {
  max-width: 1500px;
}
.about-image {
  width: 75%;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#badge {
  width: 20px;
}
.certificates {
  font-family: "Krub", sans-serif;
}

.woman-coding-image {
  border: 0.5px solid #000;
  border-radius: 941px;
}
.work-container {
  font-size: 20px;
  max-width: 560px;
  text-align: center;
  font-family: "Krub", sans-serif;
}
.work-skills {
  font-size: 25px;
}

.certifications {
  max-width: 800px;
}
.certifications-link {
  transition: all 100ms ease-in-out;
}
.certifications-link:hover {
  animation: pop 0.5s linear 1;
  opacity: 0.75;
}
@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}
.responsive {
  display: block;
  margin: 0 auto;
}

/*projects page*/
.projects-heading {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  margin-top: 60px;
  text-align: center;
}

.memoji {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.project-image {
  max-width: 70%;
}

.card-body {
  background: #eddcd9;
  font-family: Krub, sans-serif;
}
.card {
  border: none;
}
.btn-primary {
  background: #cddcf3;
  color: #212529;
  border: none;
}
.project-section {
  max-width: 900px;
}

.weather-card {
  margin-top: 50px;
}

.card-text {
  font-family: Krub, sans-serif;
}

/*contact page*/
.contact-heading {
  font-family: "Satisfy", cursive;
  font-size: 50px;
}
.contact-me {
  border: 1px solid gray;
  margin-left: 50px;
  border-radius: 10px;
  max-width: 600px;
  background-color: #f2ebe8;
}

li {
  text-decoration: none;
}
/*thank you page*/
.thank-you {
  text-align: center;
  font-size: 50px;
}
.contact-2 {
  font-size: 20px;
  text-align: center;
}
/*footer*/
footer {
  margin: 60px 0;
}
footer .contact-box {
  padding: 30px 120px;
  border-radius: 10px;
  margin: 0 200px;
  background: var(--secondary-color);
}
footer .contact-btn-home {
  padding: 15px 30px;
}
footer .contact-btn-home:hover {
  border-color: #202853;
}
footer .contact-box p {
  margin: 0;
}
.footer-remarks {
  opacity: 0.75;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .social-links a {
  font-size: 20px;
  margin: 0 20px;
  color: #000;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100mse ease-in-out;
}
footer .social-links a:hover {
  animation: pop 0.3s linear 1;
  color: #000;
}
@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}
.work-inquiry {
  margin-top: 5px;
}
.contact-btn-home {
  background: var(--primary-button-color);
}
.contact-btn-home:hover {
  background: var(--primary-button-color);
}

/*media query*/
@media (max-width: 800px) {
  .section-1 {
    margin-top: 85px;
  }
  .logo {
    max-width: 100px;
  }

  .woman-coding-image,
  .memoji {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .name {
    font-size: 55px;
  }
  .title {
    font-size: 30px;
    text-align: center;
  }
  .projects-heading {
    font-size: 20px;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }
  .navigation-links {
    justify-content: center;
  }
  .section-3 {
    display: none;
  }
  .about-paragraphs {
    font-size: 15px;
    text-align: justify;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 20px;
  }
  .work-skills,
  .fa-check {
    font-size: 18px;
  }
  .certifications {
    max-width: 500px;
  }
  .certifications-link {
    margin-bottom: 20px;
  }

  .project-image {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .card-body {
    background: #eddcd9;
  }
  .card {
    border: none;
  }
  .contact-me {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
